<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/styles.css"/>
    <link rel="stylesheet" type="text/css" href="css/slider.css"/>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/login_style_bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/navbar_bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/navbar_centered_name.css}">
    <script th:src="@{/js/navbar.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
            href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"
            rel="stylesheet"
    />
    <title>Command Add Form</title>
</head>
<body>


<div class="card mx-auto" style="margin-bottom: 50px;">
    <div class="card-header">
        ADĂUGARE COMANDĂ
    </div>
</div>

<!--Form de adaugare-->

<div id="contact" class="row" style="width: 400px;margin: auto;">
    <div class="text-center" style="text-align: center; margin: 0px auto 20px auto;">

        <form th:action="@{/addCommand}">
            <div class="form-group">
                <label for="formGroupExampleInput">Nume</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nume" name="name">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Descriere</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Descriere"
                       name="description">
                <br><br>
                <button type="submit" class="btn btn-primary">Salvează</button>
            </div>

        </form>

    </div>
</div>

</body>
</html>