<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/login_style_bootstrap.css}">
    <script th:src="@{/bootstrap/js/bootstrap.js}"></script>

</head>
<body style="background: rgb(6,0,115);background: linear-gradient(90deg, rgba(6,0,115,1) 0%, rgba(0,70,244,1) 0%, rgba(0,211,255,1) 100%);">

<!--Form de logare-->

<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Conectare</h3></div>
                            <div class="card-body">
                                <form th:action="@{/signin}" method="post" autocomplete="new-password">
                                    <div th:if="${param.error}" class="alert alert-danger">
                                        Invalid username and password.
                                    </div>

                                    <div th:if="${param.logout}" class="alert alert-success">
                                        You have been logged out.
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="username" type="text" placeholder="Username"
                                               name="cattia-username" autocomplete="new-password"/>
                                        <label for="username">Nume de utilizator</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="password" type="password" placeholder="Password"
                                               name="cattia-password" autocomplete="new-password"/>
                                        <label for="password">Parolă</label>
                                    </div>
                                    <br>
                                    <div class="form-actions d-flex justify-content-center" style="margin-top: 12px;">
                                        <button type="submit" class="btn btn-primary">Conectați-vă</button>
                                    </div>

                                    <a href="register" class="d-flex justify-content-center"
                                       style="padding-top: 20px; padding-bottom: 10px;">Nu aveți cont? Inregistrati-vă
                                        aici!</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <p style="text-align: center; font-size: 80px; color:white; margin-top:40px;">Linux</p>
        <p style="text-align: center; font-size: 40px; color:white; margin-top:20px;">Operating System</p>
        <p style="text-align: center; font-size: 20px; color:white; margin-top:20px;">Copyright &copy; Proiect PWEB
            Linux 2022</p>
    </div>

</div>
</body>
</html>